<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="test in firefox">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="tests.Select"></class>
        </classes>
    </test>


    <test name="test in edg">
        <parameter name="browser" value="edg"></parameter>
        <classes>
            <class name="tests.Select"></class>
        </classes>
    </test>

    <test name="test in chrome">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="tests.Select"></class>
        </classes>
    </test>

</suite>